<div id="welcome">
  <div class="container">
    <h1>Welcome aboard!</h1>
    <hr/>
    <h4>This a test for Dot Five.</h4>
    <i>Create categories, then add items to your categories. Create a hierarchy of categories. Edit, delete and watch live updates appear from your friends!</i>
    <ul>
      <li>Backend - Uses Sails Blueprint API (Waterline ORM) / Node</li>
      <li>Frontend - Uses React, MobX, Material-UI and sails.io.js</li>
    </ul>
    <div class="buttons">
      <a class="btn btn-info" href="/build">Let's get started!</a>
    </div>
  <router-view></router-view>
  
</div>
  </div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
